@model IEnumerable<BusinessLogicLayer.ViewModels.HotNews.HotNewsTile>

<section class="featured-post-area no-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-xs-12 pad-r">
                <div id="featured-slider" class="owl-carousel owl-theme featured-slider content-bottom">

                    @foreach (var item in Model)
                    {
                        <div class="item">
                            <img src="@item.ImageUrl" alt="@item.NewsTitle">
                            <div class="featured-post">
                                <div class="post-content">
                                    <a class="post-cat" href="@Url.Action(action: nameof(Index),controller: "Category",values: new {@id = item.CategoryId})">@item.CategoryTitle</a>
                                    <h2 class="post-title title-extra-large">
                                        <a href="@Url.Action(action: nameof(Index),controller: "News",values: new {@id = item.NewsId})">
                                            @item.NewsTitle
                                        </a>
                                    </h2>
                                    <span class="post-date">
                                        @item.CreatedOn.ToLongDateString()
                                    </span>
                                </div>
                            </div><!--/ Featured post end -->
                        </div><!-- Item end -->
                    }

                </div><!-- Featured owl carousel end-->
            </div><!-- Col 6 end -->

            <div class="col-md-6 col-xs-12 pad-l">
                <div class="row">

                    @for (int i = 0; i < 4; i++)
                    {
                        var news = @Model.ElementAtOrDefault(index: i);
                        <div class="col-sm-6 pad-r-small">
                            <div class="post-overaly-style contentTop fourNewsboxTop clearfix">
                                <div class="post-thumb">
                                    <a href="#"><img class="img-responsive" src="@news.ImageUrl" alt="@news.NewsTitle"></a>
                                </div>
                                <div class="post-content">
                                    
                                    <a class="post-cat" href="@Url.Action(action: nameof(Index),controller: "Category",values: new {@id = news.CategoryId})">@news.CategoryTitle</a>

                                    <h2 class="post-title title-medium">
                                        <a href="@Url.Action(action: nameof(Index),controller: "News",values: new {@id=news.NewsId})">@news.NewsTitle</a>
                                    </h2>
                                </div><!-- Post content end -->
                            </div><!-- Post Overaly end -->
                        </div><!-- Col end -->
                    }

                </div><!-- Row end -->
            </div><!-- Col 6 end -->


        </div><!-- Row end -->
    </div><!-- Container end -->
</section><!-- Trending post end -->