<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta author="Shadi Bolbolvand"/>
        @{
            if (string.IsNullOrWhiteSpace(ViewData["Title"].ToString()))
            {
                <title>
                    خبرگزاری اخبار موثق
                </title>
            }
            else
            {
                <title>
                    اخبار موثق - @ViewData["Title"]
                </title>
            }
        }
        

    <!--Favicon-->
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">


    <!-- Bootstrap -->
    <link href="~/Style/Template/bootstrap.min.css" rel="stylesheet"/>
    <!-- Template styles-->
    <link href="~/Style/Template/style.css" rel="stylesheet"/>
    <!-- Responsive styles-->
    <link href="~/Style/Template/responsive.css" rel="stylesheet"/>
    <!-- FontAwesome -->
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet"/>
    <!-- Animation -->
    <link href="~/Style/Template/animate.css" rel="stylesheet"/>
    <!-- Owl Carousel -->
    <link href="~/Style/Template/owl.carousel.min.css" rel="stylesheet"/>
    <link href="~/Style/Template/owl.theme.default.min.css" rel="stylesheet"/>
    <!-- Colorbox -->
    <link href="~/Style/Template/colorbox.css" rel="stylesheet"/>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
        <script src="~/Script/Template/html5shiv.js"></script>
        <script src="~/Script/Template/respond.min.js"></script>
    <![endif]-->

    @RenderSection(name: "PluginStyles", required: false)

    @RenderSection(name: "Styles", required: false)




</head>
<body class="boxed-layout">

<div class="body-inner">
    
    <partial name="_TopBar"/>

    @await Component.InvokeAsync(name: "Header")

    @await Component.InvokeAsync(name: "HotNewsHeader")
    

    @RenderBody()

    @await Component.InvokeAsync(name: "AdvertiseBanner")

    <partial name="_Footer"/>

</div>

<!-- Javascript Files
================================================== -->
<!-- initialize jQuery Library -->
<script src="~/Script/Template/jquery.js"></script>
<!-- Bootstrap jQuery -->
<script src="~/Script/Template/bootstrap.min.js"></script>
<!-- FontAwesome -->
<script src="~/lib/fontawesome/js/all.min.js"></script>
<!-- Owl Carousel -->
<script src="~/Script/Template/owl.carousel.min.js"></script>
<!-- Counter -->
<script src="~/Script/Template/jquery.counterup.min.js"></script>
<!-- Waypoints -->
<script src="~/Script/Template/waypoints.min.js"></script>
<!-- Color box -->
<script src="~/Script/Template/jquery.colorbox.js"></script>
<!-- Smoothscroll -->
<script src="~/Script/Template/smoothscroll.js"></script>

<!-- Template custom -->
<script src="~/Script/Template/custom.js"></script>

@RenderSection(name: "Plugins", required: false)

@RenderSection(name: "Scripts", required: false)
</body>

</html>