
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="fa">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData[index: "Title"] - ادمین اخبار موثق</title>

    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">


    <!-- Bootstrap -->
    <link href="~/Style/Template/bootstrap.min.css" rel="stylesheet"/>
    
    
    @RenderSection(name: "PluginStyles", required: false)

    @RenderSection(name: "Styles", required: false)



</head>
<body>

    @RenderBody()



    @RenderSection(name: "Plugins", required: false)

    @RenderSection(name: "Scripts", required: false)
</body>
</html>
