@model DataAccessLayer.Entities.Category

@{
    ViewData["Title"] = "تغییر مشخصات دسته بندی";
    Layout = "_AdminLayout";
}

<h4>تغییر مشخصات دسته بندی</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            
            @using (Html.BeginForm("Edit"))
            {

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    شناسه مادر
                    @Html.EditorFor(c => c.ParentId)
                    @Html.ValidationMessageFor(c => c.ParentId)
                </div>
                <div class="form-group">
                    عنوان دسته بندی
                    @Html.EditorFor(c => c.Title)
                    @Html.ValidationMessageFor(c => c.Title)
                </div>
                @Html.HiddenFor(c => c.Id)
                <div class="form-group">
                    <input type="submit" value="ذخیره تغییرات" class="btn btn-default"/>
                </div>

            }
           
    </div>
</div>

<div>
    <a href="@Url.Action("Index")">بازگشت</a>
</div>

