@model IEnumerable<DataAccessLayer.Entities.Category>

@{
    ViewData["Title"] = "لیست دسته بندی ها";
    Layout = "_AdminLayout";
}

<table class="table">
    <thead>
    <tr>
        <th>
            عنوان
        </th>
        <th>
            دسته بندی فرعی
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Where(c => c.ParentId.HasValue == false || c.ParentId.Value == 0))
    {
        var rowId = "Row" + @item.Id;

        <tr id="@rowId">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @foreach (var sub in @Model.Where(c => c.ParentId == item.Id))
                {
                    var subRowId = "Row" + @sub.Id;

                    <div class="row thumbnail" id="@subRowId">
                        <div class="col col-md-4">
                            @sub.Title
                        </div>
                        <div class="col col-md-8">
                            <a class="btn btn-warning" href="@Url.Action("Edit", "Categories", new {@area = "Admin", @id = sub.Id})">
                                تغییر مشخصات
                            </a> |
                            <a class="btn btn-info" href="@Url.Action("Details", "Categories", new {@area = "Admin", @id = sub.Id})">
                                ریز مشخصات
                            </a> |
                            <a class="btn btn-danger" onclick="deleteConfirmation(@sub.Id)">
                                حذف
                            </a>
                        </div>
                    </div>
                }
            </td>

            <td>
                <a class="btn btn-success" href="@Url.Action("Create", "Categories", new {@area = "Admin", @parentId = item.Id})">
                    ایجاد زیر دسته بندی جدید
                </a> |
                <a class="btn btn-warning" href="@Url.Action("Edit", "Categories", new {@area = "Admin", @id = item.Id})">
                    تغییر مشخصات
                </a> |
                <a class="btn btn-info" href="@Url.Action("Details", "Categories", new {@area = "Admin", @id = item.Id})">
                    ریز مشخصات
                </a> |
                <a class="btn btn-danger" onclick="deleteConfirmation(@item.Id)">
                    حذف
                </a>
            </td>
        </tr>
        <hr />
    }
    </tbody>
</table>

<p>
    <a class="btn btn-success" href="@Url.Action("Create","Categories",new {@area = "Admin",})">ایجاد دسته بندی اصلی جدید</a>

</p>

<script>

    function deleteConfirmation(id) {
        Swal.fire({
            title: 'آیا از حذف این داده مطمئن هستید',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'بله',
            cancelButtonText: 'خیر'
        }).then((result) => {
            if (result.value) {
                deletefunc(id);
            }
        });
    };

    function deletefunc(id) {
        $.ajax({
            url: "@Url.Action("Delete","Categories",new {@Area = "Admin"})",
            type: "POST",
            data: {
                id: id
            },
            success: function (result) {
                if (result == true) {
                    Swal.fire({
                        text: 'رکورد مورد نظر با موفقیت حذف شد',
                        icon: 'success'
                    });
                    $("#Row" + id).fadeOut();
                } else if (result == false) {
                    Swal.fire({
                        title: 'عملیات ناموفق',
                        text: 'برای حذف این داده ابتدا باید زیر دسته بند های این داده را حذف کنید',
                        icon: 'error'
                    });
                }
            },
            error: function (result) {
                Swal.fire({
                    text: 'سرور موقتا در دسترس نیست، لطغا در زمانی دیگر مجددا تلاش کنید',
                    icon: 'error',
                });
                
            }
        });
    }
</script>