@model BusinessLogicLayer.ViewModels.News.NewsViewModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="block-wrapper no-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="single-post">

                    <div class="post-title-area">
                        @{
                            <a class="post-cat" href="@Url.Action(nameof(Index), "Category", new {@id = Model.CategoryId})">
                                @Model.CategoryTitle
                            </a>
                        }

                        <h2 class="post-title">
                            @Model.NewsTitle
                        </h2>
                        <div class="post-meta">
                            <span class="post-author">
                                <i class="fad fa-microphone"></i>
                                <label>
                                    خبرنگار:
                                </label>
                                <a href="@Url.Action("Index", "Author", new {@Id = @Model.AuthorId})">
                                    @Model.AuthorFullName
                                </a>
                            </span>
                            <span class="post-meta" title="تاریخ خبر">
                                <i class="fa fa-calendar-alt"></i>
                                <label>
                                    تاریخ خبر:
                                    @Model.CreatedOn.ToLongDateString()
                                </label>
                            </span>
                            <span class="post-hits" title="تعداد بازدید">
                                <i class="fa fa-eye"></i>
                                <label>
                                    تعداد بازدید:
                                    @Model.SeenCount
                                </label>
                            </span>
                            <span class="post-comment" title="تعداد نظرات">
                                <i class="fa fa-comments-alt"></i>
                                <a href="#comments" class="comments-link">
                                    <label>
                                        تعدا نظرات:
                                        0
                                    </label>
                                </a>
                            </span>
                        </div>
                    </div><!-- Post title end -->

                    <div class="post-content-area">
                        <div class="post-media post-featured-image">
                            <img src="@Model.ImageUrl" class="img-responsive" alt="@Model.NewsTitle">
                        </div>
                        <div class="entry-content">
                            <h4>
                                @Model.NewsHeadLine
                            </h4>

                            <p>
                                @Model.NewsText
                            </p>

                        </div><!-- Entery content end -->
                        اتمام خبر.
                        <br />
                    </div><!-- post-content end -->
                </div>
                <!-- Single post end -->

                <div class="related-posts block" id="RelatedNews"></div>
                <!-- Related posts end -->

            </div><!-- Content Col end -->

        </div><!-- Row end -->
    </div><!-- Container end -->
</section><!-- First block end -->

@section Scripts
{ 
    <script>
        $(document).ready(function () {
            GetRelatedNewses(@ViewBag.CategoryId);
        });

       function GetRelatedNewses(categoryId) {

            $.ajax({
                url: "@Url.Action("GetRelatedNews","News")",
                type: "GET",
                data: {
                    categoryId: categoryId,
                    quentity: 3
                },
                async: true,
                success: function (result) {
                    $("#RelatedNews").html();
                    $("#RelatedNews").html(result);

                },
                error: function(errorResult) {
                    $("#RelatedNews").html();
                }
            });
        }

    </script>
}